body {
  font-family: 'verdana', monospace;
  font-size: 2vh;
  line-height: 1.5;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(255, 0, 0);
  background-color: transparent;
  text-decoration: none;
  }


/* Post style */
article {
  margin-bottom: 20px;
  padding: 1rem;
}

h1 {
  font-size: 3vh;
  font-weight: bold;
  color: #333;
}

.post-date {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.post-content {
  font-size: 16px;
  line-height: 1.5;
}

/* To center images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.caption {
  width: 200px;
  text-align: center;
}


/* Style for the blockquotes, ie: when using > */
blockquote {
  border-left: 2px solid #cccccc; /* Add a left border */
  padding: 0 15px; /* Add some padding for space */
  margin: 10px 0; /* Add margin for separation */
  color: #555; /* Set the text color */
}

/* Style for the post dates */
.post-date {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}
