<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About ☕</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">
      
      I'm a curious and passionate physicist who loves to work on statistical modeling. 
      Among my main interests are machine learning, the study of complex networks, mobility research, data analysis and data visualization. 
      When I'm not working you can find me reading, climbing or volunteering (I went to Portugal, Switzerland and Ethiopia among others).
      <br>
      <br> 
      <hr>
</p>
