<div id="Thoughts" style = "color:rgb(255, 250, 255);" >_</div>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Thoughts</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Articles I've written.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for post in paginator.posts %}
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    {% include post-card.html %}
  </div>
  {% endfor %}

    {% if paginator.total_pages > 1 %}
    <div class="pagination col-md-12">
<!--      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">-->
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
      {% else %}
      <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <em>{{ page }}</em>
      {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
      {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      {% else %}
      <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}

</div>


<!--{% for post in paginator.posts %}-->
<!--<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>-->
<!--<p class="author">-->
<!--  <span class="date">{{ post.date }}</span>-->
<!--</p>-->
<!--<div class="content">-->
<!--  {{ post.content }}-->
<!--</div>-->
<!--{% endfor %}-->

<!-- Pagination links -->
<!--<div class="pagination">-->
<!--  {% if paginator.previous_page %}-->
<!--  <a href="{{ paginator.previous_page_path }}" class="previous">-->
<!--    Previous-->
<!--  </a>-->
<!--  {% else %}-->
<!--  <span class="previous">Previous</span>-->
<!--  {% endif %}-->
<!--  <span class="page_number ">-->
<!--    Page: {{ paginator.page }} of {{ paginator.total_pages }}-->
<!--  </span>-->
<!--  {% if paginator.next_page %}-->
<!--  <a href="{{ paginator.next_page_path }}" class="next">Next</a>-->
<!--  {% else %}-->
<!--  <span class="next ">Next</span>-->
<!--  {% endif %}-->
<!--</div>-->
