---
layout: default
# All the Tags of posts.
---
    <h1>Blogroll</h1>
    When I'm not with my family or writing I'm probably browsing one of this blogs.
    If your time is limited I recommend you to skip my blog and read one of these ones instead.
    </br>
    </br>
    This is a list of all the posts published by my favourite <a href="https://github.com/alexmolas/alexmolas.github.io/blob/master/scripts/websites.txt">blogs</a> during the last
    30 days.
    </br>
    </br>
    <div class="special-list">
    <ul>
    
            <li>
            <span class="post-date">2024-09-02</span> -
            <a href='http://datacolada.org/119'>[119] A Hidden Confound in a Psych Methods Pre‑registrations Critique</a></li>

        
            <li>
            <span class="post-date">2024-09-02</span> -
            <a href='https://www.johndcook.com/blog/2024/09/01/pell-numbers/'>Pell is to silver as Fibonacci is to gold</a></li>

        
            <li>
            <span class="post-date">2024-09-02</span> -
            <a href='https://sander.ai/2024/09/02/spectral-autoregression.html'>Diffusion is spectral autoregression</a></li>

        
            <li>
            <span class="post-date">2024-09-01</span> -
            <a href='https://www.johndcook.com/blog/2024/09/01/miles-to-kilometers/'>Miles to kilometers</a></li>

        
            <li>
            <span class="post-date">2024-09-01</span> -
            <a href='https://lethain.com/numbers-go-up/'>Numbers go up.</a></li>

        
            <li>
            <span class="post-date">2024-09-01</span> -
            <a href='https://sebastianraschka.com/blog/2024/building-llms-from-the-ground-up.html'>Building LLMs from the Ground Up: A 3-hour Coding Workshop</a></li>

        
            <li>
            <span class="post-date">2024-08-31</span> -
            <a href='https://www.johndcook.com/blog/2024/08/31/sine-approx/'>Ancient accurate approximation for sine</a></li>

        
            <li>
            <span class="post-date">2024-08-31</span> -
            <a href='https://www.johndcook.com/blog/2024/08/31/mentally-multiply-by-pi/'>Mentally multiply by π</a></li>

        
            <li>
            <span class="post-date">2024-08-31</span> -
            <a href='https://www.johndcook.com/blog/2024/08/31/craigs-formula/'>A better integral for the normal distribution</a></li>

        
            <li>
            <span class="post-date">2024-08-31</span> -
            <a href='https://evjang.com/2024/08/31/motors.html'>Motor Physics</a></li>

        
            <li>
            <span class="post-date">2024-08-30</span> -
            <a href='https://www.johndcook.com/blog/2024/08/30/compass-on-globe/'>Drawing with a compass on a globe</a></li>

        
            <li>
            <span class="post-date">2024-08-29</span> -
            <a href='https://www.johndcook.com/blog/2024/08/29/negative-binomial-pascals-triangle/'>The negative binomial distribution and Pascal’s triangle</a></li>

        
            <li>
            <span class="post-date">2024-08-29</span> -
            <a href='https://www.johndcook.com/blog/2024/08/29/strange-harmonic-series/'>A strange take on the harmonic series</a></li>

        
            <li>
            <span class="post-date">2024-08-29</span> -
            <a href='https://www.allthingsdistributed.com/2024/08/empowering-builders-with-new-aws-asia-pacific-malaysia-region.html?utm_campaign=inbound&utm_source=rss'>Empowering builders with the new AWS Asia Pacific (Malaysia) Region</a></li>

        
            <li>
            <span class="post-date">2024-08-29</span> -
            <a href='http://notstatschat.rbind.io/2024/08/29/ihaka-lectures/'>Ihaka Lectures</a></li>

        
            <li>
            <span class="post-date">2024-08-28</span> -
            <a href='http://bair.berkeley.edu/blog/2024/08/28/strong-reject/'>How to Evaluate Jailbreak Methods: A Case Study with the StrongREJECT Benchmark</a></li>

        
            <li>
            <span class="post-date">2024-08-27</span> -
            <a href='https://maxhalford.github.io/blog/python-daily-cache/'>@daily_cache implementation in Python</a></li>

        
            <li>
            <span class="post-date">2024-08-27</span> -
            <a href='http://notstatschat.rbind.io/2024/08/27/the-missing-test-in-survey-regression-models/'>The missing test in survey regression models</a></li>

        
            <li>
            <span class="post-date">2024-08-26</span> -
            <a href='https://fastml.com/the-one-thing-you-need-to-know-about-linear-algebra-for-data-science-and-machine-learning/'>The one thing you need to know about linear algebra for data science and machine learning</a></li>

        
            <li>
            <span class="post-date">2024-08-26</span> -
            <a href='https://www.johndcook.com/blog/2024/08/26/variance-in-the-extemes/'>Variance matters more than mean in the extremes</a></li>

        
            <li>
            <span class="post-date">2024-08-26</span> -
            <a href='http://notstatschat.rbind.io/2024/08/26/another-way-to-not-sample-with-replacement/'>Another way to not sample without replacement</a></li>

        
            <li>
            <span class="post-date">2024-08-25</span> -
            <a href='https://lethain.com/when-write-down-engineering-strategy/'>When to write strategy, and how much?</a></li>

        
            <li>
            <span class="post-date">2024-08-25</span> -
            <a href='https://chris-said.io/2024/08/25/bounty-hunters-for-science/'>Bounty hunters for science</a></li>

        
            <li>
            <span class="post-date">2024-08-25</span> -
            <a href='https://sethmlarson.dev/minnesota-state-fair-foods-2024?utm_campaign=rss'>2024 Minnesota State Fair foods</a></li>

        
            <li>
            <span class="post-date">2024-08-24</span> -
            <a href='https://austinhenley.com/blog/aiinthewild.html'>Evaluating your AI models in the wild</a></li>

        
            <li>
            <span class="post-date">2024-08-24</span> -
            <a href='https://www.johndcook.com/blog/2024/08/24/increasing-speed-due-to-friction/'>Increasing speed due to friction</a></li>

        
            <li>
            <span class="post-date">2024-08-24</span> -
            <a href='https://www.johndcook.com/blog/2024/08/24/ptolemys-theorem/'>Ptolemy’s theorem</a></li>

        
            <li>
            <span class="post-date">2024-08-23</span> -
            <a href='https://www.allendowney.com/blog/2024/08/23/probably-the-book/'>Probably the Book</a></li>

        
            <li>
            <span class="post-date">2024-08-22</span> -
            <a href='https://www.allthingsdistributed.com/2024/08/continuous-reinvention-a-brief-history-of-block-storage-at-aws.html?utm_campaign=inbound&utm_source=rss'>Continuous reinvention: A brief history of block storage at AWS</a></li>

        
            <li>
            <span class="post-date">2024-08-20</span> -
            <a href='https://win-vector.com/2024/08/20/more-on-adjusting-saturated-multivariate-linear-models/'>More on Adjusting Saturated Multivariate Linear Models</a></li>

        
            <li>
            <span class="post-date">2024-08-20</span> -
            <a href='https://www.johndcook.com/blog/2024/08/20/osborn-rule/'>Rule for converting trig identities into hyperbolic identities</a></li>

        
            <li>
            <span class="post-date">2024-08-19</span> -
            <a href='https://www.johndcook.com/blog/2024/08/19/tanc-and-cotanc/'>Interpolation and the cotanc function</a></li>

        
            <li>
            <span class="post-date">2024-08-19</span> -
            <a href='https://liorsinai.github.io/machine-learning/2024/08/19/micrograd-5-mlp.html'>MicroGrad.jl: Part 5 MLP</a></li>

        
            <li>
            <span class="post-date">2024-08-18</span> -
            <a href='https://www.johndcook.com/blog/2024/08/18/real-binomial-coefficients/'>Binomial coefficients with non-integer arguments</a></li>

        
            <li>
            <span class="post-date">2024-08-18</span> -
            <a href='https://www.allendowney.com/blog/2024/08/18/too-many-bronze-medals/'>Too many bronze medals?</a></li>

        
            <li>
            <span class="post-date">2024-08-18</span> -
            <a href='https://www.johndcook.com/blog/2024/08/18/bessel-everett/'>Bessel, Everett, and Lagrange interpolation</a></li>

        
            <li>
            <span class="post-date">2024-08-18</span> -
            <a href='http://www.alexirpan.com/2024/08/18/nine-years.html'>Nine Years Later</a></li>

        
            <li>
            <span class="post-date">2024-08-18</span> -
            <a href='http://gregorygundersen.com/blog/2024/08/18/truncated-log-normal/'>Expectation of the Truncated Lognormal Distribution</a></li>

        
            <li>
            <span class="post-date">2024-08-18</span> -
            <a href='https://chris-said.io/2024/08/18/scientific-whistleblowers-can-be-compensated-for-their-service/'>Scientific whistleblowers can be compensated for their service</a></li>

        
            <li>
            <span class="post-date">2024-08-18</span> -
            <a href='https://eugeneyan.com//writing/llm-evaluators/'>Evaluating the Effectiveness of LLM-Evaluators (aka LLM-as-Judge)</a></li>

        
            <li>
            <span class="post-date">2024-08-17</span> -
            <a href='https://www.johndcook.com/blog/2024/08/17/compression-and-interpolation/'>Compression and interpolation</a></li>

        
            <li>
            <span class="post-date">2024-08-17</span> -
            <a href='https://sebastianraschka.com/blog/2024/new-llm-pre-training-and-post-training.html'>New LLM Pre-training and Post-training Paradigms</a></li>

        
            <li>
            <span class="post-date">2024-08-17</span> -
            <a href='https://liorsinai.github.io/machine-learning/2024/08/17/micrograd-4-ext.html'>MicroGrad.jl: Part 4 Extensions</a></li>

        
            <li>
            <span class="post-date">2024-08-16</span> -
            <a href='https://win-vector.com/2024/08/16/post-hoc-adjustment-for-zero-thresholded-linear-models/'>Post-hoc Adjustment for Zero-Thresholded Linear Models</a></li>

        
            <li>
            <span class="post-date">2024-08-16</span> -
            <a href='https://www.johndcook.com/blog/2024/08/15/distorted-cosines/'>Chebyshev polynomials as distorted cosines</a></li>

        
            <li>
            <span class="post-date">2024-08-13</span> -
            <a href='https://www.johndcook.com/blog/2024/08/13/base-32/'>Math’s base 32 versus Linux’s base 32</a></li>

        
            <li>
            <span class="post-date">2024-08-13</span> -
            <a href='https://minimaxir.com/2024/08/ai-seinfeld/'>AI Seinfeld was the peak of AI-generated content. It will never happen again.</a></li>

        
            <li>
            <span class="post-date">2024-08-12</span> -
            <a href='https://andlukyane.com//blog/paper-review-wolf'>Paper Review: Wolf: Captioning Everything with a World Summarization Framework</a></li>

        
            <li>
            <span class="post-date">2024-08-12</span> -
            <a href='https://andlukyane.com//blog/paper-review-wakddc'>Paper Review: Winning Amazon KDD Cup24</a></li>

        
            <li>
            <span class="post-date">2024-08-11</span> -
            <a href='https://win-vector.com/2024/08/11/scoping-data-science-projects/'>Scoping Data Science Projects</a></li>

        
            <li>
            <span class="post-date">2024-08-11</span> -
            <a href='https://www.johndcook.com/blog/2024/08/11/editing-without-an-editor/'>Editing a file without an editor</a></li>

        
            <li>
            <span class="post-date">2024-08-11</span> -
            <a href='https://danluu.com/codenames/'>How good can you be at Codenames without knowing any words?</a></li>

        
            <li>
            <span class="post-date">2024-08-10</span> -
            <a href='https://liorsinai.github.io/machine-learning/2024/08/10/micrograd-3-ir.html'>MicroGrad.jl: Part 3 Automation with IRTools</a></li>

        
            <li>
            <span class="post-date">2024-08-09</span> -
            <a href='https://www.johndcook.com/blog/2024/08/08/interpolating-gamma/'>Interpolating the gamma function</a></li>

        
            <li>
            <span class="post-date">2024-08-09</span> -
            <a href='https://softwaredoug.com/blog/2024/08/09/query-level-metrics.html'>Search query analysis minus the noise</a></li>

        
            <li>
            <span class="post-date">2024-08-07</span> -
            <a href='https://fanpu.io/blog/2024/llama-3.1-technical-report-notes/'>Notes on ‘The Llama 3 Herd of Models’</a></li>

        
            <li>
            <span class="post-date">2024-08-06</span> -
            <a href='http://www.alexirpan.com/2024/08/06/switching-to-ai-safety.html'>I'm Switching Into AI Safety</a></li>

        
            <li>
            <span class="post-date">2024-08-06</span> -
            <a href='https://softwaredoug.com/blog/2024/08/06/i-made-search-worse-elasticsearch.html'>I made a worse search engine than Elasticsearch</a></li>

        
            <li>
            <span class="post-date">2024-08-05</span> -
            <a href='https://arxiv.org/abs/2401.10233'>Likelihood-ratio inference on differences in quantiles</a></li>

        
            <li>
            <span class="post-date">2024-08-05</span> -
            <a href='https://andlukyane.com//blog/paper-review-diva'>Paper Review: Diffusion Feedback Helps CLIP See Better</a></li>

        
            <li>
            <span class="post-date">2024-08-04</span> -
            <a href='https://www.johndcook.com/blog/2024/08/04/too-clever-monte-carlo/'>Too clever Monte Carlo</a></li>

        
            <li>
            <span class="post-date">2024-08-03</span> -
            <a href='https://www.johndcook.com/blog/2024/08/03/polylog/'>Evaluating a class of infinite sums in closed form</a></li>

        
    </ul>
    </div>
    