---
layout: default
# All the Tags of posts.
---
    <h1>Blogroll</h1>
    When I'm not with my family or writing I'm probably browsing one of this blogs.
    If your time is limited I recommend you to skip my blog and read one of these ones instead.
    </br>
    </br>
    This is a list of all the posts published by my favourite <a href="https://github.com/alexmolas/alexmolas.github.io/blob/master/scripts/websites.txt">blogs</a> during the last
    30 days.
    </br>
    </br>
    <div class="special-list">
    <ul>
    
            <li>
            <span class="post-date">2026-07-04</span> -
            <a href='http://softwaredoug.com/blog/2026/07/04/write-code-not-specs.html'>Write code, not specs</a></li>

        
            <li>
            <span class="post-date">2026-07-03</span> -
            <a href='https://datacolada.org/136'>[136] Metadata Falsificada: The Cover-Up File in Gino v. Harvard</a></li>

        
            <li>
            <span class="post-date">2026-07-03</span> -
            <a href='https://www.beren.io/2026-07-03-Taking-the-Singularity-Seriously/'>Taking the Singularity Seriously</a></li>

        
            <li>
            <span class="post-date">2026-07-02</span> -
            <a href='http://www.countbayesie.com/blog/2026/7/1/making-llms-better-at-creative-writing-using-entropy'>Making LLMs Better at Creative Writing using Entropy</a></li>

        
            <li>
            <span class="post-date">2026-07-02</span> -
            <a href='https://maxhalford.github.io/blog/will-agents-replace-scripts/'>Will agents replace scripts?</a></li>

        
            <li>
            <span class="post-date">2026-07-01</span> -
            <a href='http://bair.berkeley.edu/blog/2026/07/01/grads-2026/'>2026 BAIR Graduate Showcase</a></li>

        
            <li>
            <span class="post-date">2026-06-30</span> -
            <a href='https://www.allthingsdistributed.com/2026/06/return-to-two-pizza-culture.html?utm_campaign=inbound&utm_source=rss'>A return to two-pizza culture</a></li>

        
            <li>
            <span class="post-date">2026-06-30</span> -
            <a href='https://www.beren.io/2026-06-30-Understanding-Functional-Decision-Theory-as-Program-Search/'>Understanding Functional Decision Theory as Program Search</a></li>

        
            <li>
            <span class="post-date">2026-06-29</span> -
            <a href='https://hamel.dev/blog/posts/eval-smell/'>“It’s Hard to Eval” Is a Product Smell</a></li>

        
            <li>
            <span class="post-date">2026-06-29</span> -
            <a href='https://sethmlarson.dev/un-open-source-week-2026?utm_campaign=rss'>United Nations Open Source Week 2026</a></li>

        
            <li>
            <span class="post-date">2026-06-28</span> -
            <a href='https://www.beren.io/2026-06-28-Preliminary-Notes-on-Colonizing-the-Universe/'>Preliminary Notes on Colonizing the Universe</a></li>

        
            <li>
            <span class="post-date">2026-06-27</span> -
            <a href='https://www.allendowney.com/blog/2026/06/27/greatest-goat-of-all-time/'>Greatest GOAT of All Time?</a></li>

        
            <li>
            <span class="post-date">2026-06-27</span> -
            <a href='https://magazine.sebastianraschka.com/p/using-local-coding-agents'>Using Local Coding Agents</a></li>

        
            <li>
            <span class="post-date">2026-06-26</span> -
            <a href='https://sebastianraschka.com/blog/2026/local-open-weight-llms-coding-harnesses.html'>Local Open-Weight LLMs in Coding Harnesses</a></li>

        
            <li>
            <span class="post-date">2026-06-24</span> -
            <a href='https://lilianweng.github.io/posts/2026-06-24-scaling-laws/'>Scaling Laws, Carefully</a></li>

        
            <li>
            <span class="post-date">2026-06-22</span> -
            <a href='https://andlukyane.com/blog/paper-review-locateanything'>LocateAnything Explained: Parallel Box Decoding and how it makes visual grounding faster and more precise</a></li>

        
            <li>
            <span class="post-date">2026-06-21</span> -
            <a href='https://eugeneyan.com//writing/cybersecurity-evals/'>Patterns for Building Cybersecurity Evals</a></li>

        
            <li>
            <span class="post-date">2026-06-21</span> -
            <a href='https://liorsinai.github.io/coding/2026/06/21/names.html'>Names in the USA (1880-2025)</a></li>

        
            <li>
            <span class="post-date">2026-06-19</span> -
            <a href='https://blog.lukesalamone.com/posts/creating-tiny-semantic-search/'>Semantic Search in Under 3MB</a></li>

        
            <li>
            <span class="post-date">2026-06-18</span> -
            <a href='https://sebastianraschka.com/blog/2026/glm-5-2-indexshare.html'>GLM-5.2 and IndexShare for Long-Context Sparse Attention</a></li>

        
            <li>
            <span class="post-date">2026-06-18</span> -
            <a href='https://sethmlarson.dev/til-at-here-only-notifies-online-users-on-discord-and-slack?utm_campaign=rss'>TIL “@here” only notifies online users on Discord and Slack</a></li>

        
            <li>
            <span class="post-date">2026-06-17</span> -
            <a href='https://win-vector.com/2026/06/17/is-it-the-box-or-the-yes-that-does-not-fit/'>Is it the box or the “yes” that does not fit?</a></li>

        
            <li>
            <span class="post-date">2026-06-17</span> -
            <a href='https://www.jeremyjordan.me/continuous-work/'>Exploring the age of continuous work.</a></li>

        
            <li>
            <span class="post-date">2026-06-17</span> -
            <a href='https://sebastianraschka.com/blog/2026/vibethinker-3b-post-training.html'>VibeThinker-3B and the Strength of Post-Training</a></li>

        
            <li>
            <span class="post-date">2026-06-16</span> -
            <a href='https://www.allendowney.com/blog/2026/06/16/you-would-choose-now/'>You Would Choose Now</a></li>

        
            <li>
            <span class="post-date">2026-06-16</span> -
            <a href='http://notstatschat.rbind.io/2026/06/16/the-simple-case-of-almost-sure-representations/'>The simple case of almost sure representations</a></li>

        
            <li>
            <span class="post-date">2026-06-15</span> -
            <a href='https://vickiboykis.com/2026/06/15/running-local-models-is-good-now/'>Running local models is good now</a></li>

        
            <li>
            <span class="post-date">2026-06-15</span> -
            <a href='https://lethain.com/revised-rules-of-engineering-leadership/'>Revised rules of engineering leadership.</a></li>

        
            <li>
            <span class="post-date">2026-06-15</span> -
            <a href='https://andlukyane.com/blog/paper-review-minimax-sparse-attention'>MiniMax Sparse Attention: Per-Group Block Selection for Cheap Million-Token Inference</a></li>

        
            <li>
            <span class="post-date">2026-06-14</span> -
            <a href='https://fastml.com/detecting-ai-slop-on-reddit-in-three-easy-steps/'>Detecting AI slop on Reddit in three easy steps</a></li>

        
            <li>
            <span class="post-date">2026-06-12</span> -
            <a href='https://sebastianraschka.com/blog/2026/north-mini-code-agentic-coding.html'>North Mini Code and Agentic Coding Benchmarks</a></li>

        
            <li>
            <span class="post-date">2026-06-12</span> -
            <a href='https://www.allendowney.com/blog/2026/06/12/who-is-more-trusting-liberals-or-conservatives/'>Who Is More Trusting: Liberals or Conservatives?</a></li>

        
            <li>
            <span class="post-date">2026-06-12</span> -
            <a href='http://softwaredoug.com/blog/2026/06/12/incentives-in-search.html'>Search has its own bitter lesson</a></li>

        
            <li>
            <span class="post-date">2026-06-12</span> -
            <a href='https://www.beren.io/2026-06-12-Distillation-Aint-What-It-Used-To-Be/'>Distillation Ain't What It Used To Be</a></li>

        
            <li>
            <span class="post-date">2026-06-11</span> -
            <a href='https://sethmlarson.dev/linting-screen-during-code-review?utm_campaign=rss'>Linting is important for code review: screen included</a></li>

        
            <li>
            <span class="post-date">2026-06-10</span> -
            <a href='https://andlukyane.com/blog/minimax-m3'>Testing MiniMax M3 on real tasks: repo refactor, screenshot debugging, and Spotify recommendations</a></li>

        
            <li>
            <span class="post-date">2026-06-10</span> -
            <a href='https://sethmlarson.dev/are-insecure-code-completions-a-vulnerability?utm_campaign=rss'>Are insecure code completions a vulnerability?</a></li>

        
            <li>
            <span class="post-date">2026-06-09</span> -
            <a href='https://win-vector.com/2026/06/09/why-you-are-not-getting-full-value-from-your-analytics/'>Why You Are Not Getting Full Value From Your Analytics</a></li>

        
            <li>
            <span class="post-date">2026-06-09</span> -
            <a href='https://andlukyane.com/blog/book-review-50-ml-projects-llms'>Book Review: 50 ML Projects to Understand LLMs</a></li>

        
            <li>
            <span class="post-date">2026-06-08</span> -
            <a href='http://softwaredoug.com/blog/2026/06/08/three-kinds-of-agentic-search.html'>Agentic search - retrieval, harness, or model?</a></li>

        
            <li>
            <span class="post-date">2026-06-07</span> -
            <a href='https://austinhenley.com/blog/automatingmyjob.html'>Automating my job away</a></li>

        
            <li>
            <span class="post-date">2026-06-06</span> -
            <a href='https://magazine.sebastianraschka.com/p/llm-research-papers-2026-part1'>LLM Research Papers: The 2026 List (January to May)</a></li>

        
    </ul>
    </div>
    