---
layout: default
# All the Tags of posts.
---
    <h1>Blogroll</h1>
    When I'm not with my family or writing I'm probably browsing one of this blogs.
    If your time is limited I recommend you to skip my blog and read one of these ones instead.
    </br>
    </br>
    This is a list of all the posts published by my favourite <a href="https://github.com/alexmolas/alexmolas.github.io/blob/master/scripts/websites.txt">blogs</a> during the last
    30 days.
    </br>
    </br>
    <div class="special-list">
    <ul>
    
            <li>
            <span class="post-date">2024-10-31</span> -
            <a href='https://healthyalgorithms.com/2024/10/31/ai-in-epi-554-part-3/'>AI in Epi 554 (part 3)</a></li>

        
            <li>
            <span class="post-date">2024-10-31</span> -
            <a href='https://www.johndcook.com/blog/2024/10/31/how-hard-is-constraint-programming/'>How hard is constraint programming?</a></li>

        
            <li>
            <span class="post-date">2024-10-30</span> -
            <a href='https://sethmlarson.dev/how-to-export-opml-from-omnivore?utm_campaign=rss'>How to export OPML from Omnivore</a></li>

        
            <li>
            <span class="post-date">2024-10-29</span> -
            <a href='https://hamel.dev/blog/posts/llm-judge/'>Creating a LLM-as-a-Judge That Drives Business Results</a></li>

        
            <li>
            <span class="post-date">2024-10-29</span> -
            <a href='https://severelytheoretical.wordpress.com/2024/10/28/on-the-entropic-brain-trapped-priors-and-machine-learning/'>On the entropic brain, trapped priors, and machine learning</a></li>

        
            <li>
            <span class="post-date">2024-10-29</span> -
            <a href='https://andlukyane.com//blog/paper-review-unbounded'>Paper Review: Unbounded: A Generative Infinite Game of Character Life Simulation</a></li>

        
            <li>
            <span class="post-date">2024-10-28</span> -
            <a href='https://www.johndcook.com/blog/2024/10/28/band-limited-expansion/'>Band-limited expansion</a></li>

        
            <li>
            <span class="post-date">2024-10-28</span> -
            <a href='https://danluu.com/ballmer/'>Steve Ballmer was an underrated CEO</a></li>

        
            <li>
            <span class="post-date">2024-10-27</span> -
            <a href='https://lethain.com/engineering-cost-model/'>Eng org seniority-mix model.</a></li>

        
            <li>
            <span class="post-date">2024-10-27</span> -
            <a href='https://eugeneyan.com//writing/aligneval/'>AlignEval: Building an App to Make Evals Easy, Fun, and Automated</a></li>

        
            <li>
            <span class="post-date">2024-10-26</span> -
            <a href='https://www.johndcook.com/blog/2024/10/26/dde/'>Delay differential equations</a></li>

        
            <li>
            <span class="post-date">2024-10-25</span> -
            <a href='https://www.johndcook.com/blog/2024/10/25/laplace-transform-inversion/'>Laplace transform inversion theorems</a></li>

        
            <li>
            <span class="post-date">2024-10-25</span> -
            <a href='https://www.johndcook.com/blog/2024/10/25/mellin-transform-and-riemann-zeta/'>Mellin transform and Riemann zeta</a></li>

        
            <li>
            <span class="post-date">2024-10-24</span> -
            <a href='https://healthyalgorithms.com/2024/10/24/ai-in-epi-554-part-2/'>AI in Epi 554 (part 2)</a></li>

        
            <li>
            <span class="post-date">2024-10-24</span> -
            <a href='https://win-vector.com/2024/10/24/dysons-algorithm-for-the-twelve-coins-problem/'>Dyson’s Algorithm for the Twelve Coins Problem</a></li>

        
            <li>
            <span class="post-date">2024-10-24</span> -
            <a href='https://www.johndcook.com/blog/2024/10/23/sawtooth-waves-2/'>Sawtooth waves</a></li>

        
            <li>
            <span class="post-date">2024-10-23</span> -
            <a href='https://minimaxir.com/2024/10/speech-prompt-engineering/'>Generating Distinct AI Voice Performances By Prompt Engineering GPT-4o</a></li>

        
            <li>
            <span class="post-date">2024-10-23</span> -
            <a href='https://www.ethanrosenthal.com/2024/10/23/portable-quarto-reports/'>Portable Quarto Reports</a></li>

        
            <li>
            <span class="post-date">2024-10-22</span> -
            <a href='https://www.allendowney.com/blog/2024/10/22/think-stats-3rd-edition/'>Think Stats 3rd Edition</a></li>

        
            <li>
            <span class="post-date">2024-10-22</span> -
            <a href='https://www.johndcook.com/blog/2024/10/22/pioneering-work-is-ugly/'>Pioneering work is ugly</a></li>

        
            <li>
            <span class="post-date">2024-10-22</span> -
            <a href='https://fastml.com/they-are-selling-dollar-coin-flips-for-36-cents/'>They are selling dollar coin flips for 36 cents</a></li>

        
            <li>
            <span class="post-date">2024-10-21</span> -
            <a href='https://www.johndcook.com/blog/2024/10/21/new-mersenne-prime-found/'>New Mersenne prime found</a></li>

        
            <li>
            <span class="post-date">2024-10-21</span> -
            <a href='https://andlukyane.com//blog/paper-review-cde'>Paper Review: Contextual Document Embeddings</a></li>

        
            <li>
            <span class="post-date">2024-10-21</span> -
            <a href='https://sethmlarson.dev/python-and-sigstore?utm_campaign=rss'>Python and Sigstore</a></li>

        
            <li>
            <span class="post-date">2024-10-19</span> -
            <a href='https://www.johndcook.com/blog/2024/10/19/channel-capacity-of-a-telegraph/'>Channel capacity of a telegraph</a></li>

        
            <li>
            <span class="post-date">2024-10-19</span> -
            <a href='https://lethain.com/driver-onboarding-model/'>Modeling driving onboarding.</a></li>

        
            <li>
            <span class="post-date">2024-10-19</span> -
            <a href='https://softwaredoug.com/blog/2024/10/19/real-life-ndcg.html'>Real life NDCG notebook</a></li>

        
            <li>
            <span class="post-date">2024-10-18</span> -
            <a href='https://jasmcole.com/2024/10/18/a-decade-of-wifi/'>A decade of WiFi</a></li>

        
            <li>
            <span class="post-date">2024-10-18</span> -
            <a href='https://healthyalgorithms.com/2024/10/18/ai-in-epi-554-part-1/'>AI in Epi 554 (part 1)</a></li>

        
            <li>
            <span class="post-date">2024-10-18</span> -
            <a href='https://win-vector.com/2024/10/18/come-learn-about-time-series-with-me-at-odsc-west-wednesday-october-30th-2024/'>Come Learn About Time Series with Me at ODSC West Wednesday October 30th, 2024</a></li>

        
            <li>
            <span class="post-date">2024-10-17</span> -
            <a href='https://win-vector.com/2024/10/17/the-twelve-coins-puzzle/'>The Twelve Coins Puzzle</a></li>

        
            <li>
            <span class="post-date">2024-10-17</span> -
            <a href='https://www.johndcook.com/blog/2024/10/17/squares-triangles-and-octal/'>Squares, triangles, and octal</a></li>

        
            <li>
            <span class="post-date">2024-10-16</span> -
            <a href='https://www.johndcook.com/blog/2024/10/16/rng-prng-csprng/'>RNG, PRNG, CSPRNG</a></li>

        
            <li>
            <span class="post-date">2024-10-16</span> -
            <a href='https://www.johndcook.com/blog/2024/10/16/triangle-circle-max/'>Triangle circle maximization problem</a></li>

        
            <li>
            <span class="post-date">2024-10-15</span> -
            <a href='https://www.johndcook.com/blog/2024/10/15/six-in-one/'>Relating six properties of a triangle in one equation</a></li>

        
            <li>
            <span class="post-date">2024-10-15</span> -
            <a href='https://www.johndcook.com/blog/2024/10/15/burrows-wheeler/'>Preprocessing text to make it more compressible</a></li>

        
            <li>
            <span class="post-date">2024-10-15</span> -
            <a href='https://www.allendowney.com/blog/2024/10/15/bootstrapping-a-proportion/'>Bootstrapping a Proportion</a></li>

        
            <li>
            <span class="post-date">2024-10-14</span> -
            <a href='https://andlukyane.com//blog/paper-review-diff'>Paper Review: Differential Transformer</a></li>

        
            <li>
            <span class="post-date">2024-10-14</span> -
            <a href='https://juliasilge.com/blog/orcas-positron/'>Positron in action with #TidyTuesday orca encounters</a></li>

        
            <li>
            <span class="post-date">2024-10-13</span> -
            <a href='https://www.johndcook.com/blog/2024/10/13/why-does-fm-sound-better-than-am/'>Why does FM sound better than AM?</a></li>

        
            <li>
            <span class="post-date">2024-10-13</span> -
            <a href='https://www.johndcook.com/blog/2024/10/13/shifted-reciprocal/'>Shifted reciprocal</a></li>

        
            <li>
            <span class="post-date">2024-10-13</span> -
            <a href='https://softwaredoug.com/blog/2024/10/13/the-hidden-dangers-search-solution.html'>The hidden danger that kills search products</a></li>

        
            <li>
            <span class="post-date">2024-10-12</span> -
            <a href='https://www.susanshu.com/slow-living-yearly-review-2024'>Slow living - review of 2024</a></li>

        
            <li>
            <span class="post-date">2024-10-11</span> -
            <a href='https://win-vector.com/2024/10/11/dudeneys-catching-the-mice-puzzle/'>Dudeney’s Catching The Mice Puzzle</a></li>

        
            <li>
            <span class="post-date">2024-10-11</span> -
            <a href='https://www.johndcook.com/blog/2024/10/11/triangles-to-triangles/'>Triangles to Triangles</a></li>

        
            <li>
            <span class="post-date">2024-10-10</span> -
            <a href='https://www.johndcook.com/blog/2024/10/10/golden-ellipse/'>Golden ellipse</a></li>

        
            <li>
            <span class="post-date">2024-10-10</span> -
            <a href='https://hamel.dev/'>Concurrency Foundations For FastHTML</a></li>

        
            <li>
            <span class="post-date">2024-10-10</span> -
            <a href='https://www.johndcook.com/blog/2024/10/09/areal-coordinates-and-ellipse-area/'>Areal coordinates and ellipse area</a></li>

        
            <li>
            <span class="post-date">2024-10-09</span> -
            <a href='https://www.johndcook.com/blog/2024/10/09/average-number-of-divisors/'>Average number of divisors</a></li>

        
            <li>
            <span class="post-date">2024-10-09</span> -
            <a href='https://fastml.com/large-language-models-in-2024/'>Large language models in 2024</a></li>

        
            <li>
            <span class="post-date">2024-10-08</span> -
            <a href='https://www.johndcook.com/blog/2024/10/08/lucas-numbers/'>Lucas numbers and Lucas pseudoprimes</a></li>

        
            <li>
            <span class="post-date">2024-10-08</span> -
            <a href='https://methodmatters.github.io/vibe-of-flanders-part-2/'>The Vibe of Flanders: Part 2</a></li>

        
            <li>
            <span class="post-date">2024-10-07</span> -
            <a href='https://andlukyane.com//blog/paper-review-depthpro'>Paper Review: Depth Pro: Sharp Monocular Metric Depth in Less Than a Second</a></li>

        
            <li>
            <span class="post-date">2024-10-06</span> -
            <a href='https://win-vector.com/2024/10/06/dudeneys-remainder-problem/'>Dudeney’s Remainder Problem</a></li>

        
            <li>
            <span class="post-date">2024-10-06</span> -
            <a href='https://lethain.com/dx-llm-model/'>Modeling impact of LLMs on Developer Experience.</a></li>

        
            <li>
            <span class="post-date">2024-10-05</span> -
            <a href='https://francisbach.com/scaling-laws-of-optimization/'>Scaling laws of optimization</a></li>

        
            <li>
            <span class="post-date">2024-10-04</span> -
            <a href='https://win-vector.com/2024/10/04/an-easy-puzzle-the-perplexed-banker/'>An Easy Puzzle: The Perplexed Banker</a></li>

        
            <li>
            <span class="post-date">2024-10-04</span> -
            <a href='https://sethmlarson.dev/europython-2024-security-talks?utm_campaign=rss'>EuroPython 2024 talks about security</a></li>

        
    </ul>
    </div>
    