---
layout: page
# The Home page layout
---

<div id="hi"><h1>
  👋 Hi, I'm Alex Molas 👋
<span></span></h1></div>

<p style="line-height: 1.7; margin-bottom: 15px; font-size: 16px">

  I grew up in a fantastic family, being the oldest of 9 siblings. I studied in the best school ever and
  there I met the friends who continue accompanying me on this journey of life. 
  When I was 14 I met the love of my life, but it wasn't until we weren't 18 that I got the courage to ask her out.
  Now we're married and we have two amazing children.

  </br>
  </br>

  I studied physics, and I fell in love with it. At the university, I met other friends that are also accompanying me on this trip. 
  Then I studied an MSc in physics of complex systems, and I fell in love with it. I also published a paper in <a href="https://www.nature.com/articles/s41467-019-11841-2">Nature</a>.
  After this experience with academia, I realized that it wasn't for me, so I moved to the data world. And I fell in love with it. 
  Since then I have spent the last 5 years learning (80%), building (1%), and breaking (19%) things related to data. 

  </br>
  </br>
  
  Now, I design, build, and operate machine learning systems that operate in real-time. 
  Currently, I'm a Data Scientist at Stuart, where I predict how much is going to take for your package to arrive. 
  Outside of work, I also...  


  <ul class="home-bullets">
  <li>
    Play with my two kids.
  </li>
  <li>
    <a href="/blog/">Write</a> about ML, data, math and some other random things.
  </li>
  <li>
    <a href="/100-list/">Try</a> to do 100 amazing things before dying.
  </li>
  <li>
    <a href="https://github.com/AlexMolas/" target="_blank">Build</a> cool things with code.
  </li>
</ul>

<hr>

I'm always looking for a new project, so if you want to share with me your ideas feel free to <a href="/contact/">contact</a> me!
