---
layout: default
---
<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [ ['$', '$'], ['\\(', '\\)'] ],
        displayMath: [ ['$$', '$$'], ['\\[', '\\]'] ],
        processEscapes: true
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'pre', 'code'],
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process'
      }
    };
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    
  
</head>
<body>
  <!-- Header -->
  <header>
    <!-- Your header content here -->
  </header>

  <!-- Post Content -->
  <article>
    <a href="/" class="back-link">Back to Home</a>
    <hr>
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date: "%B %d, %Y" }}</p>
    <div class="equation-container">
      {{ content }}
    </div>
  </article>

  <!-- Footer -->
  <footer>
    <!-- Your footer content here -->
  </footer>
</body>
</html>
