---
layout: default
---
<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    
  
</head>
<body>
  <!-- Header -->
  <header>
    <!-- Your header content here -->
  </header>

  <!-- Post Content -->
    <a href="/" class="back-link">Back to Home</a>
    <hr>
    <h1>{{ page.title }}</h1>
      {{ content }}

  <!-- Footer -->
  <footer>
    <!-- Your footer content here -->
  </footer>
</body>
</html>
